@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --color-1: #FFFFFF;
    --color-2: #F3F3F3;
    --color-3: #292929;
    --color-4: #7E7E7E;
    --color-5: #425A53;
    --color-6: #3E3E3E;
    --color-7: #87A59C;
    --color-8: #E1DFDA;
    --color-9: #AAAAAA;
    --color-10: #707070;
    --color-11: #1E669A;


    --primary-font: 'Spartan', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --main-text-color: #000;

    --white-space: 1rem;
}

body {
    margin: 0;
}

nav {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 2vw;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2vw;

}

nav li {
    display: inline;
    text-align: center;
    padding-top: 3vw;
    color: var(--color-7);
}

ul a:hover {
    color: var(--color-5);
    border-bottom: 2px solid;
    border-bottom-color: var(--color-5);

}

nav a {
    text-decoration: none;
    color: var(--color-7);
}

.logo {
    width: 50%;
    height: auto;
    padding-left: 5vw;
    padding-top: 3vw;

}


.header_image {
    background-image: url(http://arinafedosiuk.com/classes_img/classes_img.jpg);
    background-size: cover;
    height: 39vw;
    margin-bottom: 5vw;
}

.class_h1 {
    text-align: left;
    padding-top: 29vw;
    padding-left: 6vw;
    color: var(--color-1);
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 5vw;
}

.classes_description {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;

}

.p_classes_description {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1.3vw;
    color: var(--color-3);
}

.c_one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5vw;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    background-color: var(--color-2);
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: -160px;
    padding-left: 170px;
    z-index: 1;

}

.c_two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5vw;

}

.container_2 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    background-color: var(--color-2);
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-right: -160px;
    padding-left: 170px;
    z-index: 1;
    grid-column: 1;

}



.c_one_image {
    background-image: url(http://arinafedosiuk.com/classes_img/class_1.png);
    background-size: cover;
    height: 37vw;
    grid-column: 1;
    z-index: 2;
    margin-left: 2vw;

}

.c_two_image {
    background-image: url(http://arinafedosiuk.com/classes_img/class_2.png);
    background-size: cover;
    height: 37vw;
    grid-column: 1;
    z-index: 2;
    margin-left: 2vw;

}

.c_three_image {
    background-image: url(http://arinafedosiuk.com/classes_img/class_3_img.png);
    background-size: cover;
    height: 37vw;
    grid-column: 2;
    z-index: 2;
    margin-right: 2vw;

}


.p_style {
    padding-right: 10vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: var(--secondary-font);
    line-height: 24px;
    font-size: 1.2vw;

}

.h2_style {
    font-family: var(--primary-font);
    color: var(--color-5);
    font-weight: 500;
    padding-top: 1.5vw;

}

.h3_style {
    font-family: var(--secondary-font);
    font-size: 0.9vw;
    color: var(--color-4);
}

.button {
    background-color: none;
    border: 0.8px solid;
    padding-top: 1vw;
    border-radius: 25px;
    padding-bottom: 1vw;
    padding-right: 2vw;
    padding-left: 2vw;
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 1.1vw;
    color: var(--color-11);
}

footer {
    border-top: 0.8px solid;
    margin-top: 5vw;
    display: flex;
    padding: 2vw;
    border-top-color: var(--color-8);
    justify-content: center;
}

footer > p {
    font-family: var(--primary-font);
    font-size: 0.8vw;

}



@media only screen and (max-width: 600px) {
  .c_one,.c_two {
    grid-template-columns: 1fr;
  }
    .c_three_image {
        grid-column: auto;
        order:-1;
    }

    .h3_style {
        padding-top: 7px;
        font-size: 10px;

    }



}
