
footer {
    background-color: beige;
    display: flex;
    justify-content: center;
}


img{

    max-width: 40vw;
}

footer p {
    font-family: 'Helvetica';
    text-align: center;
}


header {
    background-color: darkgray;
    color: white;
}



